body {
	margin: 0px;
	margin-top: 10%;
	color: #4d4d4d;
	line-height: 30px;
	background-color: f7f7f7;
	font-size: 20px;
	float:center;
	
}

p {
	font-family: 'Times New Roman', serif;
	margin: 0px;
	margin-top: 17%;
	margin-bottom: 17%;
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
}


a {
	text-decoration: none;
	color: #4d4d4d;
}


p:hover {
	font-style: italic;
}


img {
	margin: 0px;
	width: 90vw;
}




